.background-light{
background-color: #F5F5F5;
}
/* Header */
.header {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    display: flex;
    align-items: center;
    background-color: #EE4D2D;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    height: 70px;
}

.header .inner-logo img {
    max-height: 50px;
    max-width: 100%;
}

.header .inner-menu > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex: 1;
}

.header .inner-menu > ul> li {
    margin-right: 20px;
}

.header .inner-menu > ul > li a {
    text-decoration: none;
    color: #333;
   
}
.header .inner-menu > ul > li a:hover {
    color: gold;
   
}
.header .inner-menu > ul > li > a {
    color: #fff;
}

.header .sub-menu i {
    top:2px; 
    left: 2px;
}
.header .sub-menu-list li {
    padding: 0;
    margin: 0;
    background-color: #fff;
}
.header .sub-menu-list a:hover {
    background-color:#fafafa ;
}
.header .sub-menu-list a {
    display: inline-block;
    padding: 10px;
    width: 100%;
}
.header .sub-menu-list-1  {
    margin-top: 10px;
    position: absolute;
}
.header .sub-menu-list-1::before {
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    top: -10px;
    left: 0;
}
.header .sub-menu-list-1::after {
    content: "";
    border-style: solid ;
    border-width: 10px 18px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    left: 10px;
    top:-20px;
    z-index:0;
}
.sub-menu {
    position: relative;
    z-index: 999;
}

.sub-menu ul {
    position: absolute;
    left: 0;
    top: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    background: white;
    min-width: 180px;
    display: none;
    border-bottom: none;
}

.sub-menu ul li {
    padding: 10px;
    border-bottom: 1px solid #dbdbdd;
}

.sub-menu:hover>ul {
    display: block;
}

.sub-menu ul li {
    position: relative;
}

.sub-menu ul li ul {
    left: 100%;
    top: 0px;
    background: #f9f9f9;
}

.sub-menu ul li:hover>ul {
    display: block;
}

.header .inner-cart a {
    color: #fff;
}
.header .inner-cart {
    text-align: right;
    padding-right: 16px;
  
}
.header .inner-cart .inner-cart-logo {
    position: relative;
    display: inline-block;
}

.header .inner-cart .inner-cart-logo i {
    font-size: 22px;
}

.header .inner-cart .inner-cart-text {
    color: #ee4d2d;
    height: 18px;
    border: 2px solid #ee4d2d;
    display: inline-flex;
    align-items: center;
    justify-content:center;
    position: absolute;
    top: -10px;
    right: -12px;
    font-weight:500;
    background-color: #fff;
    font-size: 14px;
    padding: 1px 4px;
    border-radius: 10px;
}

.header .inner-user {
    position: relative;
    cursor:context-menu;
}
.header .inner-user:hover .user-submenu  {
    display: block;
}
.header .user-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.header .user-avatar .user-avatar-image {
    margin-right: 6px;
}
.header .user-avatar .user-avatar-name {
    color: #fff;
}
.header .user-avatar .user-avatar-image img {
    width: 26px;
    height: 26px;
    object-fit: cover;
    border-radius: 50%;
}
.header .user-submenu {
    list-style: none;
    position: absolute;
    background: #fff;
    margin: 0;
    padding: 6px 0 0;
    margin-top: 10px;
    display: none;
}
.header .user-submenu::before {
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    top: -10px;
    left: 0;
}
.header .user-submenu::after {
    content: "";
    border-style: solid ;
    border-width: 10px 18px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    right: 10px;
    top:-18px;
    z-index:0;
}

.header .user-submenu li:last-child {
    border-top: 1px solid #dbdbdd;
}
.header .user-submenu li :hover {
    background-color: #fafafa;
}
.header .user-submenu li a {
    color: #333;
    text-decoration: none;
    padding: 6px 18px;
    display: block;
    width: 100%;
} 
.header .user-submenu li a:hover {
    color: gold;
}

.header .header-auth {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.header .header-auth li a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
}
.header .header-auth li a:hover {
    color: gold;
}
/* End header */
.body {
    margin-top: 70px;
    padding-top: 20px;
}
/* Box head */
.box-head {
    background: #fff;
    padding: 8px 10px;
    margin-bottom: 30px;
    border-left: 5px solid #ee4d2d;
}

.box-head .inner-title {
    margin-bottom: 0;
    font-size: 26px;
    font-weight: 700;
    color: #52575C;
    text-transform: uppercase;
    font-size: 20px;
}

/* End Box head */
/* Product Item */
/* Home Product */
.product {
    margin-bottom: 10px;
}
.product-item {
    background-color: #fff;
    margin-top: 10px;
    position: relative;
    border-radius:2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform ease-in 0.1s;
    will-change: transform;
    text-decoration: none !important;
    display: block;
    padding-bottom: 15px;
}

.product-item:hover {
    transform: translateY(-1.5px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}

.product-item__img img{
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    
}
.product-item__name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
    line-height: 24px;
    max-height: 24px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    margin: 10px 10px 6px ;
}
.product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: center;
}
.product-item__price-old {
    font-size: 16px;
    color: #666;
    text-decoration: line-through;
}
.product-item__price-current {
    font-size: 20px;
    font-weight: 500;
    color: #ee4d2d;
    margin-left: 20px;
    margin-top: 4px;
}

.product-item__featured {
    position: absolute;
    top: 10px;
    left: -4px;
    color: #ee4d2d;
    background-color: currentColor;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    padding-right: 6px;
    border-radius: 0 3px 3px 0;
}
.product-item__featured::before {
    content: "";
    position: absolute;
    left: 0;
    bottom:-3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}
.product-item__featured i {
    font-size: 9px;
    margin: 0 2px 0 5px;
    color: #fff;
}
.product-item__featured span {
    color: #fff;
}
.product-item__sale-off {
    position: absolute;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 217, 66, 0.94);
    text-align: center;
    right: 0;
    top: 0;
    padding-top: 2px;
    border-top-right-radius: 2px;
}
.product-item__sale-off::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    border-width: 0 20px 5px;
    border-style: solid;
    color: rgba(255, 217, 66, 0.94);
    border-color: transparent currentColor transparent currentColor;
}
.product-item__percent {
    color: #ee4d2d;
    display: inline-block;
    font-weight: 600;
    line-height: 13px;
    font-size: 13px;
    position: relative;
    top: -4px;
}
.product-item__sale-off-label {
    line-height: 13px;
    font-size: 13px;
    color: #fff;
    font-weight: 600;
    position: relative;
    top: -10px;
}
.product-item-line {
    width: 100px;
    height: 2px;
    background-color: #ee4d2d;
    margin: 20px auto;
}
/* End Home Product */
/* End Product Item */


/* Footer */
.footer {
    background-color: #EE4D2D;
    color: white;
    text-align: center;
    padding: 20px;
}

/* End footer */


/* product-detail */
.product-detail .inner-thumb {
    border: 1px solid #ddd;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.product-detail .inner-thumb img {
    width: 75%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 10px;
}

.product-detail .inner-title {
    font-size: 32px;
    margin-bottom: 15px;
}

.product-detail .inner-category {
    margin-bottom: 10px;

}

.product-detail .inner-category a {
    text-decoration: none;
}

.product-detail .inner-price-new {
    margin-bottom: 10px;
}

.product-detail .inner-price-new span {
    color: green;
    font-weight: 600;
    font-size: 24px;
    margin-left: 16px;
}

.product-detail .inner-price-old {
    margin-bottom: 10px;
}

.product-detail .inner-price-old span {
    color: darkgrey;
    font-weight: 600;
    font-size: 20px;
    text-decoration: line-through;
    margin-left: 16px;

}

.product-detail .inner-percent {
    margin-bottom: 10px;
}

.product-detail .inner-percent span {
    color: #fff;
    background: red;
    font-weight: 600;
    display: inline-block;
    padding: 3px 6px;
    border-radius: 8px;
    margin-left: 16px;
}

.product-detail .inner-stock {
    margin-bottom: 10px;

}

.product-detail .inner-stock span {
    color: #fff;
    background: green;
    font-weight: 600;
    display: inline-block;
    padding: 3px 6px;
    border-radius: 8px;
    margin: 0 8px 0 16px;
}

.product-detail .cart-form input {
    width: 80px;
    display: inline-block;
    margin-left: 16px;
    text-align: center;
}

/* End product-detail */
/* Show Alert */
[show-alert] {
    position: fixed;
    top: 90px;
    right: 15px;
    z-index: 10;
}

[show-alert].alert-hidden {
    animation: alert-hidden ease-in 1s;
    animation-fill-mode: both;
}

[close-alert] {
    background-color: #fff;
    display: inline-flex;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-weight: 700;
    border-radius: 50%;
    cursor: pointer;
    color: red;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
}

[close-alert] span {
    position: relative;
    bottom: 2px;
}

@keyframes alert-hidden {
    from {
        right: 15px;
        opacity: 1;
    }

    to {
        right: -100%;
        opacity: 0;
        display: none;
    }
}

/* End Show Alert */
/* chat */
.chat {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;

}

.chat .inner-body {
    padding: 20px 30px;
    max-height: 400px;
    overflow-y: auto;
}

.chat .inner-body .inner-name {
    font-weight: 600;
    margin-bottom: 6px;
}

.chat .inner-body .inner-content {
    background: #F0F0F0;
    margin-bottom: 10px;
    max-width: 300px;
    padding: 6px 10px;
    border-radius: 16px;
    line-height: 1.4;
    display: inline-block;
  
}
.chat .inner-outgoing {
    display: flex;
    justify-content: flex-end;
}
.chat .inner-outgoing .inner-content {
    background: #0084FF;
    color: #fff;
    margin-left: auto;
}
.chat .inner-foot {
    border-top: 1px solid #ddd;
    padding: 10px;
}
.chat .inner-form {
    display: flex;
    align-items: center;

}
.chat .inner-form input {
    flex: 1;
    height: 36px;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 0 10px;
    outline: none;
    background: #F0F0F0;
}
.chat .inner-form button {
    border-radius: 10px;
    border: 1px solid #0084FF;
    background: #0084FF;
    color: #fff;
    height: 32px;
    padding: 0 10px;
    cursor: pointer;
    margin-left: 6px;
}

/* End chat */

/* emoji-picker */
.tooltip {
    visibility: hidden;
}
.tooltip.shown {
    visibility: visible;
    opacity: 1;
}
/* End emoji-picker */

/* box-typing */
.box-typing {
    position: relative;
    margin-top: 10px;
}
.box-typing .inner-dots {
    position: relative;
    height: 30px;
    width: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #efefef;
    border-radius: 60px;
    margin-top: 2px;
}

.box-typing .inner-dots span {
    animation: blink 1.5s infinite;
    height: 5px;
    width: 5px;
    background: #252525;
    border-radius: 50%;
    display: inline-block;
    margin: 0 3px;
}
.box-typing .inner-dots span:nth-child(2) {
    animation-delay: 0.2s;
}

.box-typing .inner-dots span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes blink {
    0% {
      opacity: 0.1;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: 0.1;
    }
}

/* End box-typing */