.background-light{
background-color: #F5F5F5;
}
/* Header */
.header {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    display: flex;
    align-items: center;
    background-color: #EE4D2D;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    height: 70px;
}

.header .inner-logo img {
    max-height: 50px;
    max-width: 100%;
}

.header .inner-menu > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex: 1;
}

.header .inner-menu > ul> li {
    margin-right: 20px;
}

.header .inner-menu > ul > li a {
    text-decoration: none;
    color: #333;
    position: relative;
    z-index: 1;
}
.header .inner-menu > ul > li a:hover {
    color: gold;
   
}
.header .inner-menu > ul > li > a {
    color: #fff;
}

.header .sub-menu i {
    top:2px; 
    left: 12px;
}
.header .sub-menu-list li {
    padding: 0;
    margin: 0;
    background-color: #fff;
}
.header .sub-menu-list a:hover {
    background-color:#fafafa ;
}
.header .sub-menu-list a {
    display: inline-block;
    padding: 8px 10px;
    width: 100%;
}
.header .sub-menu-list-1  {
    margin-top: 10px;
    position: absolute;
}
.header .sub-menu-list-1::before {
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    top: -10px;
    left: 0;
}
.header .sub-menu-list-1::after {
    content: "";
    border-style: solid ;
    border-width: 10px 18px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    left: 10px;
    top:-20px;
    z-index:0;
}
.sub-menu {
    position: relative;
    z-index: 999;
}

.sub-menu ul {
    position: absolute;
    left: 0;
    top: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    background: white;
    min-width: 200px;
    display: none;
    border-bottom: none;
}

.sub-menu ul li {
    padding: 10px;
    border-bottom: 1px solid #dbdbdd;
}

.sub-menu:hover>ul {
    display: block;
}

.sub-menu ul li {
    position: relative;
}

.sub-menu ul li ul {
    left: 100%;
    top: 0px;
    background: #f9f9f9;
}

.sub-menu ul li:hover>ul {
    display: block;
}

.header .inner-cart a {
    color: #fff;
}
.header .inner-cart {
    text-align: right;
    padding-right: 16px;
    
}
.header .inner-cart:hover .inner-cart-logo {
    color: gold;
}
.header .inner-cart .inner-cart-logo {
    position: relative;
    display: inline-block;
}

.header .inner-cart .inner-cart-logo i {
    font-size: 22px;
}

.header .inner-cart .inner-cart-text {
    color: #ee4d2d;
    height: 18px;
    border: 2px solid #ee4d2d;
    display: inline-flex;
    align-items: center;
    justify-content:center;
    position: absolute;
    top: -10px;
    right: -12px;
    font-weight:500;
    background-color: #fff;
    font-size: 14px;
    padding: 1px 4px;
    border-radius: 10px;
}

.header .inner-user {
    position: relative;
    cursor:context-menu;
}
.header .inner-user:hover .user-submenu  {
    display: block;
}
.header .user-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.header .user-avatar .user-avatar-image {
    margin-right: 6px;
}
.header .user-avatar .user-avatar-name {
    color: #fff;
}
.header .user-avatar .user-avatar-name:hover {
    color: gold;
}
.header .user-avatar .user-avatar-image img {
    width: 26px;
    height: 26px;
    object-fit: cover;
    border-radius: 50%;
}
.header .user-submenu {
    list-style: none;
    position: absolute;
    background: #fff;
    margin: 0;
    padding: 6px 0 0;
    margin-top: 10px;
    display: none;
}
.header .user-submenu::before {
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    top: -10px;
    left: 0;
}
.header .user-submenu::after {
    content: "";
    border-style: solid ;
    border-width: 10px 18px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    right: 10px;
    top:-18px;
    z-index:0;
}

.header .user-submenu li:last-child {
    border-top: 1px solid #dbdbdd;
}
.header .user-submenu li :hover {
    background-color: #fafafa;
}
.header .user-submenu li a {
    color: #333;
    text-decoration: none;
    padding: 6px 18px;
    display: block;
    width: 100%;
} 
.header .user-submenu li a:hover {
    color: gold;
}

.header .header-auth {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.header .header-auth li a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
}
.header .header-auth li a:hover {
    color: gold;
}
/* End header */
.body {
    margin-top: 70px;
    padding-top: 30px;
}
/* Box head */
.box-head {
    background: #fff;
    padding: 8px 10px;
    margin-bottom: 20px;
    border-left: 5px solid #ee4d2d;
}

.box-head .inner-title {
    margin-bottom: 0;
    font-size: 26px;
    font-weight: 700;
    color: #52575C;
    text-transform: uppercase;
    font-size: 20px;
}

/* End Box head */
/* Product Item */
/* Home Product */
.product {
    margin-bottom: 10px;
}
.product-item {
    background-color: #fff;
    margin-top: 10px;
    position: relative;
    border-radius:2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform ease-in 0.1s;
    will-change: transform;
    text-decoration: none !important;
    display: block;
    padding-bottom: 15px;
}

.product-item:hover {
    transform: translateY(-1.5px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}

.product-item__img img{
    width: 100%;
    aspect-ratio: 4/4;
    object-fit: cover;
    
}
.product-item__name {
    font-size: 17px;
    font-weight: 500;
    color: #333;
    line-height: 24px;
    max-height: 24px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    margin: 10px 10px 6px ;
}
.product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: center;
}
.product-item__price-old {
    font-size: 14px;
    color: #666;
    text-decoration: line-through;
}
.product-item__price-current {
    font-size: 17px;
    font-weight: 500;
    color: #ee4d2d;
    margin-left: 20px;
    margin-top: 4px;
}

.product-item__featured {
    position: absolute;
    top: 10px;
    left: -4px;
    color: #ee4d2d;
    background-color: currentColor;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    padding-right: 6px;
    border-radius: 0 3px 3px 0;
}
.product-item__featured::before {
    content: "";
    position: absolute;
    left: 0;
    bottom:-3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}
.product-item__featured i {
    font-size: 9px;
    margin: 0 2px 0 5px;
    color: #fff;
}
.product-item__featured span {
    color: #fff;
}
.product-item__sale-off {
    position: absolute;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 217, 66, 0.94);
    text-align: center;
    right: 0;
    top: 0;
    padding-top: 2px;
    border-top-right-radius: 2px;
}
.product-item__sale-off::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    border-width: 0 20px 5px;
    border-style: solid;
    color: rgba(255, 217, 66, 0.94);
    border-color: transparent currentColor transparent currentColor;
}
.product-item__percent {
    color: #ee4d2d;
    display: inline-block;
    font-weight: 600;
    line-height: 13px;
    font-size: 13px;
    position: relative;
    top: -4px;
}
.product-item__sale-off-label {
    line-height: 13px;
    font-size: 13px;
    color: #fff;
    font-weight: 600;
    position: relative;
    top: -10px;
}
.product-item-line {
    width: 100px;
    height: 2px;
    background-color: #ee4d2d;
    margin: 20px auto;
}
/* End Home Product */
/* End Product Item */
/* slick-arrow-square */
.slick-arrow-square {
    position: relative;
}

.slick-arrow-square .slick-arrow {
    background-color: #00000016;
    position: absolute;
    border: 0;
    top:calc(50% - 20px);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: transparent;
}
.slick-arrow-square .slick-arrow::before {
    content: "\f104";
    font-weight: 600;
    opacity: 0.6;
    font-family: "Font awesome 6 Free";
    color: #fff;
    font-size: 24px;
}
.slick-arrow-square .slick-next::before {
    content: "\f105";
}
.slick-arrow-square .slick-arrow:hover {
    background-color:#ee4d2d ;
}
.slick-arrow-square .slick-next {
    right: 10px;
   
}
.slick-arrow-square .slick-prev {
    left: 10px;
    z-index: 1;
}
/* End slick-arrow-square */

/* Footer */
.footer {
    background-color: #EE4D2D;
    color: white;
    text-align: center;
    padding: 20px;
}

/* End footer */


/* product-detail */
.product-detail {
    padding-bottom: 20px;
}
.product-detail .product-detail-top {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}
.product-detail .inner-thumb {
    text-align: center;
    padding: 20px;
}

.product-detail .inner-thumb img {
    width: 75%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 10px;
}
.product-detail .inner-title-top {
    color: #333;
    font-size: 24px;
    padding-bottom: 10px;
    border-bottom: 1.5px solid #dbdbdb;
}
.product-detail .inner-category {
    margin-bottom: 10px;
}

.product-detail .inner-category a {
    text-decoration: none;
}
.product-detail .inner-wrap {
    background-color: #F5F5F5;
    padding:16px 20px;
}
.product-detail .inner-price-new  {
    color: #ee4d2d;
    font-weight: 600;
    font-size: 26px;
    position: relative;
}

.product-detail .inner-price-old {
    margin-bottom: 10px;
}

.product-detail .inner-price-old .inner-price-old-number {
    color: #A0A4A8;
    font-weight: 600;
    font-size: 16px;
    text-decoration: line-through;
    text-decoration-color: #828282;
    margin-right: 10px;
}

.product-detail .inner-percent {
    margin-bottom: 10px;
    position: absolute;
    top:-14px;
    left: 156px;
}

.product-detail .inner-percent span {
    color: gold;
    background: #ee4d2d;;
    font-weight: 600;
    display: inline-block;
    font-size: 17px;
    padding: 0px 6px;
    border-radius: 6px;
}

.product-detail .inner-stock {
    margin: 10px 0;

}

.product-detail .inner-stock span {
    font-weight: 600;
    display: inline-block;
    padding: 3px 6px;
    font-size: 22px;
}
.product-detail .cart-form button {
    margin-top: 20px;
}
.product-detail .cart-form .qty-label{
    margin-right: 14px;
}
.product-detail .cart-form .inner-box-quantity {
    display: inline-flex;
    align-items: center;
}
.product-detail .cart-form .button-change-qty {
    border: 1px solid #dbdbdb;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
}
.product-detail .cart-form .button-change-qty i{
    font-size: 13px;
}
.product-detail .cart-form input {
    width: 52px;
    height: 30px;
    display: inline-block;
    margin: 0 8px;
    text-align: center;

}
.product-detail .product-detail-bottom {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
}
/* End product-detail */
/* Show Alert */
[show-alert] {
    position: fixed;
    top: 100px;
    right: 15px;
    z-index: 10;
}

[show-alert].alert-hidden {
    animation: alert-hidden ease-in 1s;
    animation-fill-mode: both;
}

[close-alert] {
    background-color: #fff;
    display: inline-flex;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-weight: 700;
    border-radius: 50%;
    cursor: pointer;
    color: red;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
}

[close-alert] span {
    position: relative;
    bottom: 2px;
}

@keyframes alert-hidden {
    from {
        right: 15px;
        opacity: 1;
    }

    to {
        right: -100%;
        opacity: 0;
        display: none;
    }
}

/* End Show Alert */
/* edit user */
.edit-user {
    background-color: #fff;
    padding: 20px 24px;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* End edit user */
/* cart */
/* End cart */
.cart table thead{
    background-color: #BEE5EB;
}
.cart table tbody{
    background-color: #fff;
}
.cart table a{
    text-decoration: none;
}
/* checkout */
.checkout table thead{
    background-color: #BEE5EB;
}
.checkout table tbody{
    background-color: #fff;
}
.checkout form {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
}
.checkout .sum-cart {
    font-size: 18px;
    border-bottom: 2px solid #ee4d2d;
    padding-bottom: 8px;
    margin: 0;
}
.checkout .sum-cart-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
    padding: 10px 0;
}
.checkout .sum-cart-text {
    padding: 0;
    margin: 0;
}
.checkout .sum-cart-number b {
    color: #ee4d2d;
    font-size: 16px;
}
/* End checkout */
/* product-category */

.home .product-category .inner-image {
    display: flex;
    align-items: center;
    justify-content: center;
}
.home .product-category .inner-image img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    transition: all ease-in-out 0.25s;
    cursor: pointer;
    background-color: #fff;
}
.home .product-category .inner-image img:hover {
    transform: rotate(40deg);
   
}
.home .product-category .inner-text {
    text-align: center;
    margin-top: 10px;
}
.home .product-category .inner-text a{
    color: #92979A;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

/* End product-category */
/* section-service  */

.home .section-service .inner-boxs{
    padding: 20px 0;
}
.home .section-service .inner-box {
    display: flex;
    align-items: center;
}
.home .section-service .inner-box .inner-logo {
    margin-right: 10px;
}
.home .section-service .inner-box .inner-logo img {
    width: 50px;
}
.home .section-service .inner-box .inner-title  {
    font-weight: 700;
    color: #333;
}
.home .section-service .inner-box .inner-desc  {
    color: #838393;
    font-size: 14px;
}
/* End section-service  */




/* chat */
.chat {
    width: 100%;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    background-color: #fff;
    margin-bottom: 20px;
}

.chat .inner-body {
    padding: 20px 30px;
    max-height: 400px;
    overflow-y: auto;
}

.chat .inner-body .inner-name {
    font-weight: 600;
    margin-bottom: 6px;
}

.chat .inner-body .inner-content {
    background: #F0F0F0;
    margin-bottom: 10px;
    max-width: 300px;
    padding: 6px 10px;
    border-radius: 16px;
    line-height: 1.4;
    display: inline-block;
  
}
.chat .inner-body .inner-content::-webkit-scrollbar {
    display: none;
}
.chat .inner-outgoing {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.chat .inner-outgoing .inner-content {
    background: #0084FF;
    color: #fff;
    margin-left: auto;
}
.chat .inner-foot {
    border-top: 1px solid #ddd;
    padding: 10px;
}
.chat .inner-form {
    display: flex;
    align-items: center;

}
.chat .inner-form input {
    flex: 1;
    height: 36px;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 0 10px;
    outline: none;
}
.chat .inner-form button {
    border-radius: 10px;
    border: 1px solid #0084FF;
    background: #0084FF;
    color: #fff;
    height: 32px;
    padding: 0 10px;
    cursor: pointer;
    margin-left: 6px;
}
.chat .inner-body .inner-images {
    display: block;
}
.chat .inner-body .inner-images img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    background: #efefee;
    padding: 5px;
    margin: 0 5px 5px 0;
    border-radius: 5px;
}
.chat .inner-body .inner-outgoing .inner-images {
    margin-left: auto;
    text-align: right;
}
.chat .inner-body .inner-outgoing .inner-images {
    margin: 0 0 5px 5px;
}
.chat .inner-preview-images .label-container {
    display: none;
}
.chat .inner-preview-images .input-container {
    display: none;
}
.chat .inner-preview-images .image-preview {
    height: auto;
    padding: 0;
    border-radius: 0;
}
.chat .inner-preview-images .image-preview-item {
    width: 90px;
    background-size: contain;
}
/* End chat */

/* emoji-picker */
.tooltip {
    visibility: hidden;
}
.tooltip.shown {
    visibility: visible;
    opacity: 1;
}
/* End emoji-picker */

/* box-typing */
.box-typing {
    position: relative;
    margin-top: 10px;
}
.box-typing .inner-dots {
    position: relative;
    height: 30px;
    width: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #efefef;
    border-radius: 60px;
    margin-top: 2px;
}

.box-typing .inner-dots span {
    animation: blink 1.5s infinite;
    height: 5px;
    width: 5px;
    background: #252525;
    border-radius: 50%;
    display: inline-block;
    margin: 0 3px;
}
.box-typing .inner-dots span:nth-child(2) {
    animation-delay: 0.2s;
}

.box-typing .inner-dots span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes blink {
    0% {
      opacity: 0.1;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: 0.1;
    }
}

/* End box-typing */
/* box-users */
.box-user {
    display: flex;
    border: 1px solid #dbdbdb;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
}
.box-user .inner-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    background: #f2f2f2;
    margin-right: 10px;
}
.box-user .inner-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box-user .inner-info {
    flex: 1;
}
  
.box-user .inner-info .inner-name a{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 3px;
    display: inline-block;
    text-decoration: none;
}
.box-user [btn-cancel-friend] {
    display: none;
  }
  
.box-user.add [btn-add-friend] {
    display: none;
}
  
.box-user.add [btn-cancel-friend] {
    display: inline-block;
}

.box-user [btn-deleted-friend] {
    display: none;
}
  
.box-user.refuse [btn-accept-friend] {
    display: none;
}
.box-user.accepted [btn-accept-friend] {
    display: none;
}
.box-user.refuse [btn-refuse-friend] {
    display: none;
}
.box-user.accepted [btn-refuse-friend] {
    display: none;
}  
.box-user.refuse [btn-deleted-friend] {
    display: inline-block;
}
.box-user [btn-accepted-friend] {
    display: none;
}
.box-user.accepted [btn-accepted-friend] {
    display: inline-block;
}
.box-user .inner-status {
    font-size: 12px;
    color: #00d800;
    opacity: 0;
}
  
.box-user .inner-status[status="online"] {
    opacity: 1;
}
/* End box-users */

/* box-room */
.box-room {
    display: flex;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
}
  
.box-room .inner-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    background: #f2f2f2;
    margin-right: 10px;
}
.box-room .inner-info .inner-name {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 3px;
    display: inline-block;
    
}
.box-room .inner-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box-room .inner-info {
    flex: 1;
}
  
/*End  box-room */

.box-user.deleted button[btn-delete-member-out-group] {
    display: none;
}
.box-user button[btn-deleted-member-out-group]{
    display: none;
}

.box-user.deleted button[btn-deleted-member-out-group] {
    display: inline-block;
}
/* room chat create */
.room-chat-create {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
}

/* End room chat create */

/* .list-btn-users */
.list-btn-users .badge-light.active {
    background-color: red;
    color: #fff;
    font-weight: 600;
}
/* .list-btn-users */
/* login/ register */
.login {
    background-color: #fff;
    padding: 20px 30px;
}
.register {
    background-color: #fff;
    padding: 20px 30px;
}
/* End login */
.order-detail .order-status {
    background-color: #fff;
    padding: 10px 20px;
    margin-top: 10px;
}
.order-detail .user-info {
    background-color: #fff;
    padding: 10px 20px;
    margin: 10px 0;
}
.order-detail .order-info  {
    background-color: #fff;
    padding: 10px 20px;
}
.order-detail .user-info p {
    margin: 5px;
}
.order-detail .order-info .order-product-image img{
    width: 130px;
    aspect-ratio: 4/3;
    object-fit: cover;
}
.order-detail .order-info .order-product {
    display: flex;
    align-items: center;
    margin: 20px 0;
    padding: 20px;
    background-color: #f5f5f5;
}
.order-detail .order-info .order-product .order-product-content {
    margin-left: 30px;
}
.order-detail .order-info .order-product .order-product-content p {
    margin: 2px;
}
.order-detail .order-info .order-product .order-product-content .order-product-title {
    font-weight: 600;
    font-size: 17px;
}
.order-detail .order-product-sum {
    background-color: #f5f5f5;
    padding: 10px;
    text-align: right;
}
/* End Order detail */

